// Requirements
// susy setup map

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

@include border-box-sizing;

$small: 1px 480px;
$medium: 481px 768px; 
$large: 769px 960px;